<header>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="openMenu()" aria-label="Main Menu" ng-if="!fixedMenu">
                <md-icon>menu</md-icon>
            </md-button>

            <h2 flex md-truncate>{{ character.name }}</h2>
        </div>
    </md-toolbar>
</header>
<md-content aria-role="main" ng-if="authReady" layout="column" flex layout-fill>

    <md-tabs flex layout-fill md-stretch-tabs="auto" md-swipe-content md-border-bottom>

        <md-tab>
            <md-tab-label>Abilities</md-tab-label>
            <md-tab-body layout="column">

                <md-content layout="column" flex layout-fill>

                    <div flex="10">
                        <md-grid-list md-cols="1" md-row-height="fit" md-gutter="0" flex layout="row" layout-wrap layout-fill role="list">

                            <md-grid-tile role="list-item" class="dr-roll-tile">
                                <md-button flex ng-click="rollInitiative($event)">Roll for Initiative</md-button>
                            </md-grid-tile>

                        </md-grid-list>
                    </div>

                    <md-divider></md-divider>

                    <div flex="25">
                        <md-grid-list md-cols="2" md-row-height="fit" md-gutter="0" flex layout="row" layout-wrap layout-fill role="list">

                            <md-grid-tile role="list-item" class="dr-roll-tile dr-ability-tile" ng-repeat="ability in abilities track by ability.keyword">
                                <md-button flex="80" class="dr-ability-check" ng-click="rollAbilityCheck($event, ability)">{{ ability.name }}</md-button>
                                <md-button flex="20" class="dr-ability-save md-icon-button" ng-click="rollAbilitySave($event, ability)">
                                    <md-icon>undo</md-icon>
                                </md-button>
                            </md-grid-tile>

                        </md-grid-list>
                    </div>

                    <md-divider></md-divider>

                    <div flex="75">
                        <md-grid-list md-cols="2" md-row-height="fit" md-gutter="0" flex layout="row" layout-wrap layout-fill role="list">

                            <md-grid-tile role="list-item" class="dr-roll-tile" ng-repeat="skill in skills track by skill.keyword">
                                <md-button flex ng-click="rollSkillCheck($event, skill)">{{ skill.name }}</md-button>
                            </md-grid-tile>

                        </md-grid-list>
                    </div>

                </md-content>

            </md-tab-body>
        </md-tab>

        <md-tab>
            <md-tab-label>Attacks</md-tab-label>
            <md-tab-body layout="column">


            </md-tab-body>
        </md-tab>

        <md-tab>
            <md-tab-label>Dice</md-tab-label>
            <md-tab-body layout="column">


            </md-tab-body>
        </md-tab>

    </md-tabs>


</md-content>
<div ng-if="!authReady" layout="column" flex layout-align="center center">
    <md-progress-circular md-mode="indeterminate" aria-label="Loading..."></md-progress-circular>
</div>