.dr-welcome {
  max-width: 20em;
  margin-bottom: 2em;
}

.dr-roll-tile button {
  height: 100%;
}

.dr-roll-caption {
  text-align: center;
}

.dr-roll-result {
  text-align: center;
  font-size: 12em;
  font-weight: bold;
}

.dr-roll-details {
  font-size: 2em;
}
